@media(max-width:960px){
    .header-nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
}


@media(max-width:768px){
    .container{
        width: 90%;
        margin: auto;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-links li a{
        font-size: 13px;
    }

    .header-text h2{
        font-size: 30px;
    }

    .header-text h5{
        font-size: 15px;
    }

    .button a{
        font-size: 12px;
    }

    .social-icons li{
        padding:25px;
    }

    .social-icons li a i{
        font-size: 20px;
        color: #ffffff;
    }

    .get-started{
        padding: 50px;
        background-color: #f5f6f7;
        width: 100%;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }

    .get-started-text{
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .get-started-images{
        width: 100%;
        text-align: center;
    }

    .get-started-images img{
        width: 100%;
    }

    .design-area{
        padding: 50px;
        width: 100%;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
    }

    .design-area-image{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .design-area-text{
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .community-row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .slide{
        text-align: center;
        margin-bottom: 20px;
    }

    .community-images1{
       margin: 30px 0;
    }
    
    .subscribe-items{
        width: 100%;
        text-align: center;
    }

    .download{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .download-items{
        width: 100%;
        text-align: center;
    }

    .apple{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .play-store{
        width: 100%;
        text-align: center;
    }

    .footer-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .community-area .slide{
        text-align: center;
    }





}


@media(max-width:500px){
    p{
        font-size: 12px;
    }

    h3{
        font-size: 18px;
    }

    h2{
        font-size: 25px;
    }

    h5{
        font-size: 13px;
        margin: 10px 0;
    }
}





